.standard-contact-block {
  &.divider-top {
    border-top: thin solid $color-line;
  }

  &.divider-bottom {
    border-bottom: thin solid $color-line;
  }

  .contact {
    margin-bottom: 22px;

    &-address {
      margin: 0 20px 0 0;
      font-size: 20px;
      line-height: 30px;
    }

    &-link {
      color: $secondary;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
    }
  }
}
